<div *ngIf ="this.dataService.isDesktopDevice">
<table *ngFor="let experience of Data" style="width:70%;padding-left: 5%">
    <tr>
      <td style="width: 60%">
        {{experience.Name}}, {{experience.Location}} 
      </td>
      <td >
        Timeline: {{experience.Start}} - {{experience.End}}
      </td>
    </tr>
    <tr>
      <td style="text-indent: 110px">
        {{experience.Position}}
      </td>
    </tr>
  </table>
</div>

<div *ngIf ="!this.dataService.isDesktopDevice"> 
  <table *ngFor="let experience of Data" style="width:100%; font-size: 9.5pt">
      <tr>
        <td style="width: 48%">
          {{experience.Name}}, {{experience.Location}} 
        </td>
        <td >
          Timeline: {{experience.Start}} - {{experience.End}}
        </td>
      </tr>
      <tr>
        <td style="text-indent: 50px" colspan="2">
          {{experience.Position}}
        </td>
      </tr>
    </table>
    </div>