<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">


<div @slideDown>
  <h1 style="text-align: center;font-family: 'DM Serif Display', serif;"> David Duong's Resume</h1>

  <div style="text-align: center;margin-bottom: 10pt">
    <b *ngIf="visiters">
      Visiter Count: {{visiters.length}}
    </b>
  </div>

  <div style="text-align: center;margin-bottom: 10pt">
    <b *ngIf="log">
      Last Updated: {{log.Date}}
    </b>
  </div>
</div>
<div *ngIf="deviceInfo" class="desktop">
  <style>

  </style>
  <div >
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Education</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-education></app-education>
  </mat-expansion-panel>
</div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Projects</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-projects></app-projects>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Experiences</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-experience></app-experience>
  </mat-expansion-panel>


  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Skills</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-skills></app-skills>
  </mat-expansion-panel>


  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Awards</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-awards></app-awards>
  </mat-expansion-panel>
</div>
<div *ngIf="!deviceInfo" class="mobile">
  <style>

  </style>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Education</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-education></app-education>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Projects</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-projects></app-projects>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Experiences</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-experience></app-experience>
  </mat-expansion-panel>




  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Skills</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-skills></app-skills>
  </mat-expansion-panel>





  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Awards</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-awards></app-awards>
  </mat-expansion-panel>
</div>
<button mat-button (click)="openDialog()"><b>Contact Me</b></button>