mat-expansion-panel {
    border: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 2px;
    width: 80%;
    margin-left: 10%;
    opacity: 0.75;
}
button {
    opacity: 0.75;
    border:2px solid black;
    text-align: center;
    width: 20%;
    height: 5%;
    margin-left: 40%;
    background-color: white
    
}

