<div *ngIf="isDesktopDevice">
  <table style="width: 100%">
    <tr *ngFor="let array of temp">
      <td *ngFor="let skill of array" style="width: 25%" style="padding-bottom: 2pt">
        <a> <img src="{{skill.Link}}" style="width: 25pt;height: 25pt;" align="middle" alt="Awkard"> </a>
        {{skill.Name}}
      </td>
    </tr> 
  </table>
</div>
<div *ngIf="!isDesktopDevice">
    <table >
      <tr *ngFor="let array of temp">
        <td *ngFor="let skill of array" style="width: 30%">
          <a> <img src="{{skill.Link}}" style="width: 25pt;height: 25pt;" align="middle" alt="Awkard"> </a>
          {{skill.Name}}
        </td>
      </tr>
    </table>
  </div>